/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* General styling for the header */
.header {
    z-index: 2;
}

.header {
    position: fixed;
    background-color: #fcecec;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

*, :after, :before {
    box-sizing: inherit;
}

.gutter {
    padding-left: 1px;
    padding-right: 1px;
}

.header_wrap {
    width: 100%;
    height: 70px;
    background-color: #fcecec;
}

*, :after, :before {
    box-sizing: border-box; 
}

.nav-container {
    max-width: 1370px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

*, :after, :before {
    box-sizing: inherit;
}

.header_home img{
    height: 60px;
    max-width: 100%;
}

/* Navigation Menu */
.nav_menu {
    display: flex;     
    gap: 16px;
}

/* Level 1 Menu Items */
.nav_lvl1 {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

.nav_lvl1:focus .nav_dropdown{
    display: block;
}

.nav_titleCont {
    display: flex;
    align-items: center;
    color: black;
}

.nav_title {
    margin-right: 5px;
    font-size: 18px;
}

.nav_carrot {
    fill:#333;
}

.nav_dropdown {
    display: none;
    position: absolute;
    background-color: #fcecec;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
}

.nav_dropdown a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.nav_dropdown a:hover {
    background-color: #ccc;
}

.nav_lvl1:hover .nav_dropdown{
    display: block;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
}

.header_right {
    position: relative;
}

.nav_searchCont, .nav_accountCont, .nav_cartCont {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.nav_cartCont a{
    text-decoration: none;
    color: inherit;
}

*, :after, :before {
    box-sizing: inherit; 
}

.carousel-container {
    position: relative;
    width: 100%;            /* Full width */
    max-width: 800px;        /* Max width of carousel */
    margin: auto;            /* Center the carousel */
    overflow: hidden;        /* Hide images outside the container */
}

.carousel-slides {
    display: flex;           /* Align images in a row */
    transition: transform 0.5s ease-in-out; /* Smooth transition between slides */
}

.slide {
    width:300px; 
    height: 200px       
}

.slide.active {
    display: block;          /* Show the active image */
}

/* Arrow button styles */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.featured-items{
    text-align: center;
}

.shop-button{
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    
}

.shop-button:hover{
    background-color: #b1b0b0;
}

/* Footer Styling */
footer {
    padding: 20px;
    background-color: #fcecec;
    color: #333;
    text-align: left;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

main {
    padding: 20px;
    background-color: #fcecec;
    color: black;
    text-align: left;
}

section {

        padding: 20px;
        background-color: #fcecec;
        color: #333;
        text-align: left;

}