/*loginStyle*/
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* General styling for the header */
.header {
    z-index: 2;
}

.header {
    position: fixed;
    background-color: #fcecec;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

*, :after, :before {
    box-sizing: inherit;
}

.gutter {
    padding-left: 1px;
    padding-right: 1px;
}

.header_wrap {
    width: 100%;
    height: 70px;
    background-color: #fcecec;
}

*, :after, :before {
    box-sizing: border-box; 
}

.nav-container {
    max-width: 1370px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

*, :after, :before {
    box-sizing: inherit;
}

.header_home img{
    height: 60px;
    max-width: 100%;
}

/* Navigation Menu */
.nav_menu {
    display: flex;     
    gap: 16px;
}

/* Level 1 Menu Items */
.nav_lvl1 {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

.nav_lvl1:focus .nav_dropdown{
    display: block;
}

.nav_titleCont {
    display: flex;
    align-items: center;
    color: black;
}

.nav_title {
    margin-right: 5px;
    font-size: 18px;
}

.nav_carrot {
    fill:#333;
}

.nav_dropdown {
    display: none;
    position: absolute;
    background-color: #fcecec;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
}

.nav_dropdown a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.nav_dropdown a:hover {
    background-color: #ccc;
}

.nav_lvl1:hover .nav_dropdown{
    display: block;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
}

.header_right {
    position: relative;
}

.nav_searchCont, .nav_accountCont, .nav_cartCont {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.nav_cartCont a{
    text-decoration: none;
    color: inherit;
}

*, :after, :before {
    box-sizing: inherit; 
}


body{
    display:Flex;
    align-items:center;
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #fcecec;
    flex-direction: column;
    margin: 0;
}

.main{
    background-color: #fcecec;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0,2);
    padding:10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

input {
    display:block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: white;
    color: white;
    cursor: pointer;
    background-color: #ddd;
    width: 100%;
    font-size:16px;
}

.wrap {
    display:flex;
    justify-content: center;
    align-items: center;
}