<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Softwear Catalog Page</title>
    </head>
    <body>
        <header>
            <!-- TOP OF PAGE // LINKS TO OTHER PAGES-->
            <nav>   
                <ul>
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/catalog}">CATALOG</a></li>
                    <li><a th:href="@{/cart}">SHOPPING CART</a></li>
                </ul>
            </nav>
            <hr>
            <h1>Softwear</h1>
        </header>
        <!-- SHIRT/TOP SECTION-->
        <section>
            <h2>SHIRTS</h2>
            <div>
                <div>
                    <strong>SHIRT 1</strong>
                </div>
                <img src="shopImages/LEGENDSNEVERDIE.png" width="300" height="300">
                <div>
                    <span>$68.00</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>
            <div>
                <div>
                    <strong>SHIRT 2</strong>
                </div>
                <img src="shopImages/PleasuresShirt.png" width="300" height="300">
                <div>
                    <span>$42.00</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>

        </section>
        <!-- PANTS/BOTTOMS SECTION-->
        <section>
            <h2>PANTS</h2>
            <div>
                <div>
                    <strong>PANTS 1 </strong>
                </div>
                <img src="shopImages/RassvetCorduroyNAVY.png" width="300" height="300">
                <div>
                    <span>$125.00</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>
        </section>
        <!-- SHOES SECTION-->
        <section>
            <h2>SNEAKERS</h2>
            <div>
                <div>
                    <strong>Jarritos x Nike Dunk SB</strong>
                </div>
                <img src="shopImages/Jarritos x Nike Dunk SB.png" width="300" height="300">
                <div>
                    <span>$355.00</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>
            <div>
                <div>
                    <strong>Foam Runners "Onyx"</strong>
                </div>
                <img src="shopImages/Foam Runners-Onyx.png" width="300" height="300">
                <div>
                    <span>$122.00</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>
            <div>
                <div>
                    <strong> Air Mag "Back To The Future"</strong>
                </div>
                <img src="shopImages/AirMagBTTF.png" width="300" height="300">
                <div>
                    <span>$26,550</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>
        </section>
    </body>
</html>