<!DOCTYPE html>
 <!-- THIS IS AN EXAMPLE CATALOG THAT CAN DYNAMICALLY HOLD THE PRODUCTS WITHOUT THE NEED OF MULTIPLE HTML
PAGES PLS FEEL FREE TO UPDATE IT AND MAKE IT LOOK PRETTY 
SO THIS MEANS WE DONT HAVE TO HAVE A SEPARATE MENS,WOMENS< AND SO ON HTML FILES AND WE CAN JUST USE THIS ONE-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softwear - Catalog</title>
    <link rel="stylesheet" href="/css/FrontPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Header Section -->
    <header id="header-nav" class="header js-header">
        <div class="header_wrap gutter">
            <div class="nav-container">
                <a class="header_home" th:href="@{/}"><img src="/shopImages/logo2.png"></a>
                <nav class="nav_menu">
                    <div tabindex="0" class="nav_lvl1">
                        <div class="nav_titleCont">
                            <p class="nav_title">
                                <a th:href="@{/}">Home</a>
                            </p>
                        </div>
                    </div>
                    <div tabindex="0" class="nav_lvl1">
                        <div class="nav_titleCont">
                            <p class="nav_title">Shop</p>
                            <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                        <div class="nav_dropdown">
                            <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                            <a href="javascript:navigate('all','all')">All</a>
                            <a href="javascript:navigate('all','shirts')">Shirts</a>
                            <a href="javascript:navigate('all','pants')">Pants</a>
                            <a href="javascript:navigate('all','shoes')">Shoes</a>
                        </div>
                    </div>
                    <div tabindex="0" class="nav_lvl1">
                        <div class="nav_titleCont">
                            <p class="nav_title">Women</p>
                            <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                        <div class="nav_dropdown">
                            <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                            <a href="javascript:navigate('womens','all')">All</a>
                            <a href="javascript:navigate('womens','shirts')">Shirts</a>
                            <a href="javascript:navigate('womens','pants')">Pants</a>
                            <a href="javascript:navigate('womens','shoes')">Shoes</a>
                        </div>
                    </div>
                    <div tabindex="0" class="nav_lvl1">
                        <div class="nav_titleCont">
                            <p class="nav_title">Men</p>
                            <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                        <div class="nav_dropdown">
                            <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                            <a href="javascript:navigate('mens','all')">All</a>
                            <a href="javascript:navigate('mens','shirts')">Shirts</a>
                            <a href="javascript:navigate('mens','pants')">Pants</a>
                            <a href="javascript:navigate('mens','shoes')">Shoes</a>
                        </div>
                    </div>

                    <div tabindex="0" class="nav_lvl1">
                        <div class="nav_titleCont">
                            <p class="nav_title">Help</p>
                            <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                        <div class="nav_dropdown">
                            <a th:href="@{/faq}">FAQ</a>
                            <a th:href="@{/contact}">Contact Us</a>
                            <a th:href="@{/about}">About Us</a>
                        </div>
                    </div>
                </nav>
                <div class-="header_right">
                    <div class="nav_searchCont nav_searchCont--close">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="nav_accountCont nav_accountCont">
                        <a th:href="@{${#authentication.authenticated ? '/profile' : '/login'}}"><i class="fas fa-user"></i></a> <!--CONDITIONAL FOR SENDING USER TO PROFILE 
                                                                                                                                                IF LOGGED IN OR LOGIN IF NOT-->
                    </div>
                    <div class="nav_cartCont nav_cartCont">
                        <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <section class="catalog">
			
            <div class="grid-container">
                <div th:each="product : ${products}" class="grid-item">

                    <div class="product-image">
                        <img th:src="${product.productImage}" alt="Product Image" />
                    </div>

                    <div class="product-name" th:text="${product.productName}"></div>
                    <div class="product-description" th:text="${product.productDescription}"></div>
                    <div class="product-price" th:text="${product.productPrice}"></div>
                    
                    <!--
                    <div class="product-id" th:text="${product.id}"></div>
                    <div class="product-type" th:text="${product.productType}"></div>
                    <div class="product-gender" th:text="${product.productGender}"></div>
                    
                    -->
                </div>
            </div>
            
 <!-- 
            <div class="grid-container">
                <div class="grid-header">Image</div>
                <div class="grid-header">ID</div>
                <div class="grid-header">Product Name</div>
                <div class="grid-header">Description</div>
                <div class="grid-header">Type</div>
                <div class="grid-header">Price</div>
                <div class="grid-header">Gender</div>

            
                <div th:each="product : ${products}" class="grid-item">
                    <div th:text="${product.id}"></div>
                    <div th:text="${product.productName}"></div>
                    <div th:text="${product.productDescription}"></div>
                    <div th:text="${product.productType}"></div>
                    <div th:text="${product.productPrice}"></div>
                    <div th:text="${product.productGender}"></div>
                    <div>
                        <img th:src="${product.productImage}" alt="Product Image" style="width:592px;height:592px;" />
                    </div>
                </div>
            </div>
            -->
			
			<!--
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Gender</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productDescription}"></td>
                        <td th:text="${product.productType}"></td>
                        <td th:text="${product.productPrice}"></td>
                        <td th:text="${product.productGender}"></td>
                        <td><img th:src="${product.productImage}" alt="Product Image" style="width:100px;height:100px;"/></td>
                    </tr>
                </tbody>
            </table>

-->

        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Softwear</h3>
                <p>1 UTSA Circle,<br>San Antonio, TX 78249</p>
                <p>210-458-4011</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h3>Brick and Mortar Hours</h3>
                <p>Monday: 10 am–5 pm<br>
                   Tuesday: Closed<br>
                   Wednesday: Closed<br>
                   Thursday: 10 am–5 pm<br>
                   Friday: 10 am–5 pm<br>
                   Saturday: 10 am–5 pm<br>
                   Sunday: 10 am–5 pm</p>
                <p>Closed Thanksgiving, Christmas, and New Year's Day</p>
            </div>
            <div class="footer-section">
                <h3>Company Info</h3>
                <ul>
                    <li><a th:href="@{/about}">About Us</a></li>
                    <li><a href="#">Jobs & Opportunities</a></li>
                    <li><a href="#">Student Discount</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Responsible Disclosure</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
            <p>&copy; 2024 Softwear. All rights reserved.</p>
        </div>
    </footer>
    
    <!-- Script Link -->
    <script src="/js/search.js"></script>
</body>
</html>
