<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> Softwear - Home </title>
        <style>
        
        </style>
        <link rel="stylesheet" href="/css/profileStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
    </head>
        <body>
            <!-- Header Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
            <header id="header-nav" class="header js-header">
                <div class="header_wrap gutter">
                    <div class="nav-container">
                        <a class="header_home" th:href="@{/}"><img src="/shopImages/logo2.png"></a>
                        <nav class="nav_menu">
                            <div tabindex="0" class="nav_lvl1">
                                <div class="nav_titleCont">
                                    <p class="nav_title">
                                        <a th:href="@{/}">Home</a>
                                    </p>
                                </div>
                            </div>
                            <div tabindex="0" class="nav_lvl1">
                                <div class="nav_titleCont">
                                    <p class="nav_title">Shop</p>
                                    <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                                <div class="nav_dropdown">
                                    <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                    <a href="javascript:navigate('all','all')">All</a>
                                    <a href="javascript:navigate('all','shirts')">Shirts</a>
                                    <a href="javascript:navigate('all','pants')">Pants</a>
                                    <a href="javascript:navigate('all','shoes')">Shoes</a>
                                </div>
                            </div>
                            <div tabindex="0" class="nav_lvl1">
                                <div class="nav_titleCont">
                                    <p class="nav_title">Women</p>
                                    <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                                <div class="nav_dropdown">
                                    <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                    <a href="javascript:navigate('womens','all')">All</a>
                                    <a href="javascript:navigate('womens','shirts')">Shirts</a>
                                    <a href="javascript:navigate('womens','pants')">Pants</a>
                                    <a href="javascript:navigate('womens','shoes')">Shoes</a>
                                </div>
                            </div>
                            <div tabindex="0" class="nav_lvl1">
                                <div class="nav_titleCont">
                                    <p class="nav_title">Men</p>
                                    <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                                <div class="nav_dropdown">
                                    <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                    <a href="javascript:navigate('mens','all')">All</a>
                                    <a href="javascript:navigate('mens','shirts')">Shirts</a>
                                    <a href="javascript:navigate('mens','pants')">Pants</a>
                                    <a href="javascript:navigate('mens','shoes')">Shoes</a>
                                </div>
                            </div>
        
                            <div tabindex="0" class="nav_lvl1">
                                <div class="nav_titleCont">
                                    <p class="nav_title">Help</p>
                                    <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                                <div class="nav_dropdown">
                                    <a th:href="@{/faq}">FAQ</a>
                                    <a th:href="@{/contact}">Contact Us</a>
                                    <a th:href="@{/about}">About Us</a>
                                </div>
                            </div>
                        </nav>
                        <div class-="header_right">
                            <div class="nav_searchCont nav_searchCont--close">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="nav_accountCont nav_accountCont">
                                <a th:href="@{${#authentication.authenticated ? '/profile' : '/login'}}"><i class="fas fa-user"></i></a> <!--CONDITIONAL FOR SENDING USER TO PROFILE 
                                                                                                                                                        IF LOGGED IN OR LOGIN IF NOT-->
                            </div>
                            <div class="nav_cartCont nav_cartCont">
                                <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </body>
        <script src="/js/profilefuncs.js"></script>
<main>
    <!-- Welcome Message -->
    <h1>Welcome, <span th:text="${fname} ">User</span>!</h1>
  <!-- Feedback Messages -->
    <div th:if="${message}" class="feedback-message success">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="feedback-message error">
        <p th:text="${error}"></p>
    </div>
    <!-- Navigation Buttons -->
    <button class="button" onclick="showSection('stock')">Manage Stock</button>
    <button class="button" onclick="showSection('discounts')">Manage Discounts</button>
    <button class="button" onclick="showSection('users')">View Users</button>
    <button class="button" onclick="showSection('orders')">View Orders</button>
    <!--STOCK SECTION-->
    <section id="stock">
        <h2>Manage Stock</h2>
        
        <!-- Search Form -->
        <form th:action="@{/employee/stock}" method="get">
            <div class="nav_searchCont">
                <input type="text" name="query" class="nav_searchInput" placeholder="Search...">
                <button class="nav_searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        
        <!-- Product Table -->
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Update Product</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.productName}"></td>
                    <td><img th:src="${product.productImage}" alt="Product Image" style="width:100px;height:100px;"/></td>
                    <td th:text="${product.productPrice}"></td>
                    <td th:text="${product.salesQuantity}"></td>
                    <td>
                        <!-- Update Product Form (POST request) -->
                        <form th:action="@{/employee/stock/update}" method="post">
                            <input type="hidden" name="id" th:value="${product.productId}" />
                            
                            <!-- Update Price -->
                            <input type="number" name="price" th:value="${product.productPrice}" step="0.01" placeholder="New Price" />
                            
                            <!-- Update Quantity -->
                            <input type="number" name="quantity" th:value="${product.salesQuantity}" placeholder="New Quantity" />    
                            
                            <!-- Submit Button to Update -->
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    

    <!--DISCOUNT SECTION-->
    <section id="discounts">
        <h2>View Discounts</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Discount Code</th>
                    <th>Discount Amount</th>
                    <th>Discount Applicable</th>
                    <th>Update Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="discount : ${discounts}">
                    <td th:text="${discount.discountCode}"></td>
                    <td th:text="${discount.discountAmount}"></td>
                    <td th:text="${discount.discountApplicable}"></td>
                    <td>
                        <form th:action="@{/employee/discounts}" method="post">
                            <input type="hidden" name="id" th:value="${discount.discountId}" />
                            <!-- Update Code-->
                            <input type="text" name="code" th:value="${discount.discountCode}" step="0.01" placeholder="New Code" />
                            <!-- Update Amount -->
                            <input type="number" name="amount" th:value="${discount.discountAmount}" placeholder="New Amount" />    
                            <!-- Update Applicable -->
                            <input type="text" name="applicable" th:value="${discount.discountApplicable}" placeholder="New Applicable" />    
                            <!-- Submit Button to Update--> 
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <!--USERS SECTION-->
    <section id="users">
        <h2>View Users</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>User's First Name</th>
                    <th>User's Last Name</th>
                    <th>User's Email</th>
                    <th>User's Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userFname}"></td>
                    <td th:text="${user.userLname}"></td>
                    <td th:text="${user.userEmail}"></td>
                    <td th:text="${user.userPhone}"></td>
                </tr>
            </tbody>
        </table>
    </section>
    <!--ORDERS SECTION-->
    <section id="orders">
        <h2>View Orders</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Date Ordered</th>
                    <th>Order Total</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.orderPrice}"></td>
                    <td th:text="${order.orderStatus}"></td>
                </tr>
            </tbody>
        </table>
    </section>
   
    <!-- Log Out Button -->
    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>
</main>
    <!-- Footer Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Softwear</h3>
                <p>1 UTSA Circle,<br>San Antonio, TX 78249</p>
                <p>210-458-4011</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h3>Brick and Mortar Hours</h3>
                <p>Monday: 10 am–5 pm<br>
                Tuesday: Closed<br>
                Wednesday: Closed<br>
                Thursday: 10 am–5 pm<br>
                Friday: 10 am–5 pm<br>
                Saturday: 10 am–5 pm<br>
                Sunday: 10 am–5 pm</p>
                <p>Closed Thanksgiving, Christmas, and New Year's Day</p>
            </div>
            <div class="footer-section">
                <h3>Company Info</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Jobs & Opportunities</a></li>
                    <li><a href="#">Student Discount</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Responsible Disclosure</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
            <p>&copy; 2024 Softwear. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/search.js"></script>
</html>
