<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> Softwear - Home </title>
        <link rel="stylesheet" href="/css/FrontPageStyle.css">
        <link rel="stylesheet" href="/css/faq.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <!-- Header Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <header id="header-nav" class="header js-header">
            <div class="header_wrap gutter">
                <div class="nav-container">
                    <a class="header_home" th:href="@{/}"><img src="/shopImages/logo2.png"></a>
                    <nav class="nav_menu">
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">
                                    <a th:href="@{/}">Home</a>
                                </p>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Shop</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <a href="javascript:navigate('all','all')">All</a>
                                <a href="javascript:navigate('all','shirts')">Shirts</a>
                                <a href="javascript:navigate('all','pants')">Pants</a>
                                <a href="javascript:navigate('all','shoes')">Shoes</a>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Women</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <a href="javascript:navigate('womens','all')">All</a>
                                <a href="javascript:navigate('womens','shirts')">Shirts</a>
                                <a href="javascript:navigate('womens','pants')">Pants</a>
                                <a href="javascript:navigate('womens','shoes')">Shoes</a>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Men</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <a href="javascript:navigate('mens','all')">All</a>
                                <a href="javascript:navigate('mens','shirts')">Shirts</a>
                                <a href="javascript:navigate('mens','pants')">Pants</a>
                                <a href="javascript:navigate('mens','shoes')">Shoes</a>
                            </div>
                        </div>
    
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Help</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/faq}">FAQ</a>
                                <a th:href="@{/contact}">Contact Us</a>
                                <a th:href="@{/about}">About Us</a>
                            </div>
                        </div>
                    </nav>
                    <div class-="header_right">
                        <div class="nav_searchCont nav_searchCont--close">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="nav_accountCont nav_accountCont">
                            <a th:href="@{${#authentication.authenticated ? '/profile' : '/login'}}"><i class="fas fa-user"></i></a> <!--CONDITIONAL FOR SENDING USER TO PROFILE 
                                                                                                                                                    IF LOGGED IN OR LOGIN IF NOT-->
                        </div>
                        <div class="nav_cartCont nav_cartCont">
                            <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <br>
            <br>
            <h2></h2>
			<p><b></b></p>
			<p></p>
			<p></p>
			
			<p><b></b></p>
			<p></p>
			<p> </p>
            <div class="container">
                <h2>Frequently Asked Questions</h2>
                <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">How authentic is Softwear's products?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p>Our clothes are tested for authenticity by our team, and are 100% legitimate or your money back. See the Contact page to contact us about any issues.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">What is Softwear's return policy?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p>To return eligible items, you must request a refund within 14 days of the delivery date, and return the items within 21 days from the delivery. For refunds, a $6.95 shipping fee will be deducted from the money you recieve, and returns for store credit will not have any shipping fees. Once we recieve your item, balance will be added to your account within 7 days.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">When will my order arrive?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <table style="border-collapse: collapse; border: none;" cellpadding="0" cellspacing="0" border="1" class="MsoTable15Grid4">
                            <tbody>
                              <tr style="height: 27.85pt;">
                                <td style="width: 159.6pt; border-top: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-right: none; background: rgb(191, 191, 191); padding: 0in 5.4pt; height: 27.85pt;" valign="top" width="213">
                                  <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing">
                                    <strong>
                                    <span style="font-family: AdihausDIN, sans-serif; color: white;">Method</span>           
                                </strong>
                                  </p>
                                </td>
                                <td style="width: 159.6pt; border-top: 1pt solid black; border-left: none; border-bottom: 1pt solid black; border-right: none; background: rgb(191, 191, 191); padding: 0in 5.4pt; height: 27.85pt;" valign="top" width="213">
                                  <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing">
                                    <strong>
                                      <span style="font-family: AdihausDIN, sans-serif; color: white;">Processing Time</span>
                                    </strong>
                                  </p>
                                </td>
                                <td style="width: 159.6pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; background: rgb(191, 191, 191); padding: 0in 5.4pt; height: 27.85pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><strong><span style="font-family: AdihausDIN, sans-serif; color: white;">Shipping Time</span></strong></p>
                          </td>
                          </tr>
                          <tr style="height: 30.1pt;">
                          <td style="width: 159.6pt; border-right: 1pt solid rgb(102, 102, 102); border-bottom: 1pt solid rgb(102, 102, 102); border-left: 1pt solid rgb(102, 102, 102); border-image: initial; border-top: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 30.1pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><strong><span style="font-family: AdihausDIN, sans-serif; color: black;">Standard</span></strong></p>
                          </td>
                          <td style="width: 159.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(102, 102, 102); border-right: 1pt solid rgb(102, 102, 102); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 30.1pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><span style="font-family: AdihausDIN, sans-serif; color: black;">1-3 Business Days</span></p>
                          </td>
                          <td style="width: 159.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(102, 102, 102); border-right: 1pt solid rgb(102, 102, 102); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 30.1pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><span style="font-family: AdihausDIN, sans-serif; color: black;">3-5 Business Days</span></p>
                          </td>
                          </tr>
                          <tr style="height: 40.45pt;">
                          <td style="width: 159.6pt; border-right: 1pt solid rgb(102, 102, 102); border-bottom: 1pt solid rgb(102, 102, 102); border-left: 1pt solid rgb(102, 102, 102); border-image: initial; border-top: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 40.45pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><strong><span style="font-family: AdihausDIN, sans-serif; color: black;">Express</span></strong></p>
                          </td>
                          <td style="width: 159.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(102, 102, 102); border-right: 1pt solid rgb(102, 102, 102); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 40.45pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><span style="font-family: AdihausDIN, sans-serif; color: black;">Not available for PO Box, APO, FPO Addresses</span></p>
                          </td>
                          <td style="width: 159.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(102, 102, 102); border-right: 1pt solid rgb(102, 102, 102); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 40.45pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><span style="font-family: AdihausDIN, sans-serif; color: black;">3 Business Days</span></p>
                          </td>
                          </tr>
                          <tr style="height: 32.8pt;">
                          <td style="width: 159.6pt; border-right: 1pt solid rgb(102, 102, 102); border-bottom: 1pt solid rgb(102, 102, 102); border-left: 1pt solid rgb(102, 102, 102); border-image: initial; border-top: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 32.8pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><strong><span style="font-family: AdihausDIN, sans-serif; color: black;">Personalized Products</span></strong></p>
                          </td>
                          <td style="width: 159.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(102, 102, 102); border-right: 1pt solid rgb(102, 102, 102); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 32.8pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><span style="font-family: AdihausDIN, sans-serif; color: black;">5 Business Days</span></p>
                          </td>
                          <td style="width: 159.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(102, 102, 102); border-right: 1pt solid rgb(102, 102, 102); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in 5.4pt; height: 32.8pt;" valign="top" width="213">
                          <p style="margin: 6pt 0in 0in; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center" class="MsoNoSpacing"><span style="font-family: AdihausDIN, sans-serif; color: black;">3-5 Business Days</span></p>
                          </td>
                          </tr>
                          </tbody>
                          </table>
                    <p>If you place an order while signed in to your Softwear account, sign in and visit your Order History. If you order has not shipped after three business days, you will receive an email notifying you. Some reasons for the delay could include the following
                    </p>
                    <li>We are experiencing higher order volume during this time</li>
                    <li>Item(s) in your order may be on backorder in the next 72 hours</li>
                    <li>Item(s) in your order may be out of stock due to high demand</li>
                    <li>Shipping address outside of the continental United States</li>
                    <li>A payment issue may have occurred while placing the order</li>
                    <p>*Shipping times may vary during high-volume order periods</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Do you offer free shipping?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p>Yes, we offer free shipping on orders over $40. Standard shipping rates apply for orders below this amount.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do I place an order?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p>Browse the product categories, select the items you wish to buy, and click "Add to Cart." Once you're done shopping, proceed to checkout and follow the payment instructions.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How can I contact customer support?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p> You can reach us via email at contact@softwear.com or call 210-458-4011 during business hours.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">What should I do if my package is damaged during delivery?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p>If your package is damaged, please take photos of the item and packaging and contact our support team immediately.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">What should I do if my payment fails?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                    <p>Double-check your payment details and ensure your card or account has sufficient funds. If the problem continues, contact us for assistance.</p>
                    </div>
                </div>
                </div>
            </div>
           <!-- Footer Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
           <footer class="footer">
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Softwear</h3>
                    <p>1 UTSA Circle,<br>San Antonio, TX 78249</p>
                    <p>210-458-4011</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
                <div class="footer-section">
                    <h3>Brick and Mortar Hours</h3>
                    <p>Monday: 10 am–5 pm<br>
                       Tuesday: Closed<br>
                       Wednesday: Closed<br>
                       Thursday: 10 am–5 pm<br>
                       Friday: 10 am–5 pm<br>
                       Saturday: 10 am–5 pm<br>
                       Sunday: 10 am–5 pm</p>
                    <p>Closed Thanksgiving, Christmas, and New Year's Day</p>
                </div>
                <div class="footer-section">
                    <h3>Company Info</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Jobs & Opportunities</a></li>
                        <li><a href="#">Student Discount</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Responsible Disclosure</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Order Tracking</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
                <p>&copy; 2024 Softwear. All rights reserved.</p>
            </div>
            </footer>
    </body>
    <script src="js/faq.js"></script>
</html>