<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> Softwear - Home </title>
        <link rel="stylesheet" href="/css/FrontPageStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!--light-slider.css------------->
        <link rel="stylesheet" type="text/css" href="css/lightslider.css">
        <!--Jquery-------------------->
        <script type="text/javascript" src="js/Jquery.js"></script>
        <!--lightslider.js--------------->
        <script type="text/javascript" src="js/lightslider.js"></script>
    </head>
    <body>
        <!-- Header Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <header id="header-nav" class="header js-header">
            <div class="header_wrap gutter">
                <div class="nav-container">
                    <a class="header_home" th:href="@{/}"><img src="/shopImages/logo2.png"></a>
                    <nav class="nav_menu">
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">
                                    <a th:href="@{/}">Home</a>
                                </p>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Shop</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                            <a th:href="@{/catalog(gender=${'all'}, type=${'all'})}">All</a>
                            <a th:href="@{/catalog(gender=${'all'}, type=${'shirts'})}">Shirts</a>
                            <a th:href="@{/catalog(gender=${'all'}, type=${'pants'})}">Pants</a>
                            <a th:href="@{/catalog(gender=${'all'}, type=${'shoes'})}">Shoes</a>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Women</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                            <a th:href="@{/catalog(gender=${'womens'}, type=${'all'})}">All</a>
                            <a th:href="@{/catalog(gender=${'womens'}, type=${'shirts'})}">Shirts</a>
                            <a th:href="@{/catalog(gender=${'womens'}, type=${'pants'})}">Pants</a>
                            <a th:href="@{/catalog(gender=${'womens'}, type=${'shoes'})}">Shoes</a>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Men</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <a th:href="@{/catalog(gender=${'mens'}, type=${'all'})}">All</a>
                                <a th:href="@{/catalog(gender=${'mens'}, type=${'shirts'})}">Shirts</a>
                                <a th:href="@{/catalog(gender=${'mens'}, type=${'pants'})}">Pants</a>
                                <a th:href="@{/catalog(gender=${'mens'}, type=${'shoes'})}">Shoes</a>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Help</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/faq}">FAQ</a>
                                <a th:href="@{/contact}">Contact Us</a>
                                <a th:href="@{/about}">About Us</a>
                            </div>
                        </div>
                    </nav>
                    <div class-="header_right">
                        <div class="nav_searchCont nav_searchCont--close">
                            <button class="search-toggle" id="searchToggle">
                              <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="nav_accountCont nav_accountCont">
                            <a th:href="@{${#authentication.authenticated ? '/profile' : '/login'}}"><i class="fas fa-user"></i></a> <!--CONDITIONAL FOR SENDING USER TO PROFILE 
                                                                                                                                                    IF LOGGED IN OR LOGIN IF NOT-->
                        </div>
                        <div class="nav_cartCont nav_cartCont">
                            <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <form th:action="@{/catalog}" method="get">
                <div class="search-modal" id="searchModal">
                    <div class="search-modal_top darkText">
                        <h1>Search</h1>
                        <div class="search-modal-content">
                            <button class="close-search" id="closeSearch">&times;</button>
                            <input type="text" name="query" placeholder="Type to search" class="search-input">   
                        </div>
                    </div>
                </div>
            </form>
        </header>

         <!-- Main Body Section-->
        <main id="app" class="main js-main">
            <br>
            <br>
            <div class="fullSlider">
                <div class="qSlider_fullHeight">
                    <div class="qSlider">
                        <div class="qSlider_slides">
                            <div class="gutter qSlider_wrap qSlider_wrap--center whiteText">
                                <div class="videoWrapper">
                                    <video autoplay loop muted>
                                        <source src="\miscVideos\1154850-hd_1920_1080_24fps.mp4" type="video/mp4">
                                    </video>
                                    <!-- Overlay Content -->
                                    <div class="qSlider_overlay">
                                        <p class="qSlider_topLine">November Sales</p>
                                        <div class="qSlider_h2">
                                            <h2>50% off</h2>
                                        </div>
                                        <div class="qSlider_desc">
                                            <p><strong>Take advantage of sales throughout the month of November</strong></p>
                                            <p>50% of Women's accessories with a $100 or more purchase</p>
                                        </div>
                                        <div class="buttons qSlider_cta">
                                            <div class="saleBtn saleBtn--tall saleBtn--white">
                                                <a tabindex="0" <a href="javascript:navigate('womens','all')">
                                                    <p>Shop Now</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- This is where the slider should go -->
                                 <div class="slider-container">
                                    <h1 class="slider-title">New Arrivals</h1>
                                    <section class="slider">
                                        <ul id="autoWidth" class="cs-hidden">
                                        <!--1------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Cardigan with Collar.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','shirts')">Collared Cardigan</a>
                                                                <span>Women's Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="javascript:navigate('womens','shirts')" class="price">$230</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--2------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Follow The Leader T-Shirt.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','shirts')">Follow The Leader T-Shirt</a>
                                                                <span>Men's Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$40</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--3------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Slim Fit Cargo Joggers.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','pants')">Slim Fit Cargo Joggers</a>
                                                                <span>Men's Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$90</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--4------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Pleat-Front Twill Pants.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','pants')">Pleat-Front Twill Pants</a>
                                                                <span>Women's Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$180</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--5------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\unisex\Discover Tee.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('all','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('all','shirts')">Discover Tee</a>
                                                                <span>Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$42</a>
                                                    </div>
                                                </div>	
                                            </li>
                                            <!--6------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Satin Shirt.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','shirts')">Satin Shirtn</a>
                                                                <span>Women's Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$23</a>
                                                    </div>
                                                </div>		
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <!-- This is where the second slider should go -->
                                <div class="slider-container">
                                    <h1 class="slider-title">Men's Fashion</h1>
                                    <section class="slider">
                                        <ul id="autoWidth2" class="cs-hidden">
                                        <!--1------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Faded Oversize Jeans.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','pants')">Faded Oversize Jeans</a>
                                                                <span>Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$60</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--2------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Active Shorts - Gray.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','pants')">Active Shorts - Gray</a>
                                                                <span>Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$26</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--3------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Out of Service Oversized Tee.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','shirts')">Out of Service Oversized Tee</a>
                                                                <span>Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$34</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--4------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Paradise Shorts.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','pants')">Paradise Shorts</a>
                                                                <span>Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$26</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--5------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Wide Leg Jeans.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','pants')">Wide Leg Jeans</a>
                                                                <span>Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$56</a>
                                                    </div>
                                                </div>	
                                            </li>
                                            <!--6------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\mens\Nike Air Pegasus 2005.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('mens','shoes')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('mens','shoes')">Nike Air Pegasus 2005</a>
                                                                <span>Shoes</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$160</a>
                                                    </div>
                                                </div>		
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <!-- This is where the third slider should go -->
                                <div class="slider-container">
                                    <h1 class="slider-title">Women's Fashion</h1>
                                    <section class="slider">
                                        <ul id="autoWidth3" class="cs-hidden">
                                        <!--1------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Rolling Stone Tee.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','shirts')">Rolling Stone Tee</a>
                                                                <span>Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$37</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--2------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Soundgarden Oversize Tee.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','shirts')">Soundgarden Oversize Tee</a>
                                                                <span>Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$30</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--3------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Nike Zoom Vomero 5 - Tan.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','shoes')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','shoes')">Nike Zoom Vomero 5 - Tan</a>
                                                                <span>Shoes</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$120</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--4------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Oversized Rib-Knit Sweater.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','shirts')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','shirts')">Oversized Rib-Knit Sweater</a>
                                                                <span>Shirts</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$68</a>
                                                    </div>
                                                </div>		
                                            </li>
                                            <!--5------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Slit-Hem Pants.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','pants')">Slit-Hem Pant</a>
                                                                <span>Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$62</a>
                                                    </div>
                                                </div>	
                                            </li>
                                            <!--6------------------------------------>	
                                            <li class="item-a">
                                                <!--box-slider--------------->
                                                <div class="box">
                                                    <!--img-box---------->
                                                    <div class="slide-img">
                                                        <img alt="1" src="\shopImages\womens\Bowtie Jeans.png">
                                                        <!--overlayer---------->
                                                        <div class="overlay">
                                                        <!--buy-btn------>	
                                                        <a href="javascript:navigate('womens','pants')" class="buy-btn">Buy Now</a>	
                                                        </div>
                                                    </div>
                                                    <!--detail-box--------->
                                                    <div class="detail-box">
                                                        <!--type-------->
                                                        <div class="type">
                                                            <a href="javascript:navigate('womens','pants')">Bowtie Jeans</a>
                                                                <span>Pants</span>
                                                        </div>
                                                        <!--price-------->
                                                        <a href="#" class="price">$68</a>
                                                    </div>
                                                </div>		
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Footer Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Softwear</h3>
                    <p>1 UTSA Circle,<br>San Antonio, TX 78249</p>
                    <p>210-458-4011</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
                <div class="footer-section">
                    <h3>Brick and Mortar Hours</h3>
                    <p>Monday: 10 am–5 pm<br>
                       Tuesday: Closed<br>
                       Wednesday: Closed<br>
                       Thursday: 10 am–5 pm<br>
                       Friday: 10 am–5 pm<br>
                       Saturday: 10 am–5 pm<br>
                       Sunday: 10 am–5 pm</p>
                    <p>Closed Thanksgiving, Christmas, and New Year's Day</p>
                </div>
                <div class="footer-section">
                    <h3>Company Info</h3>
                    <ul>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a href="#">Jobs & Opportunities</a></li>
                        <li><a href="#">Student Discount</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Responsible Disclosure</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Order Tracking</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
                <p>&copy; 2024 Softwear. All rights reserved.</p>
            </div>
        </footer>
    </body>
    <script src="/js/search.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
</html>