<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> Softwear - Home </title>
        <link rel="stylesheet" href="/css/FrontPageStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <!-- Header Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <header id="header-nav" class="header js-header">
            <div class="header_wrap gutter">
                <div class="nav-container">
                    <a class="header_home" th:href="@{/}"><img src="/shopImages/logo2.png"></a>
                    <nav class="nav_menu">
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">
                                    <a th:href="@{/}">Home</a>
                                </p>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Men</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/catalog}">Shop All</a>
                                <a th:href="@{/men}">Shirts</a>
                                <a th:href="@{/men}">Pants</a>
                                <a th:href="@{/men}">Shoes</a>
                                <a th:href="@{/men}">Accesories</a>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Women</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/women}">Shop All</a>
                                <a th:href="@{/women}">Shirts</a>
                                <a th:href="@{/women}">Pants</a>
                                <a th:href="@{/women}">Shoes</a>
                                <a th:href="@{/women}">Accesories</a>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Shop All</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/catalog}">Shirts</a>
                                <a th:href="@{/catalog}">Pants</a>
                                <a th:href="@{/catalog}">Shoes</a>
                                <a th:href="@{/catalog}">Accesories</a>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Help</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/faq}">FAQ</a>
                                <a th:href="@{/contact}">Contact Us</a>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">About Us</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                        </div>
                    </nav>
                    <div class-="header_right">
                        <div class="nav_searchCont nav_searchCont--close">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="nav_accountCont nav_accountCont">
                            <a th:href="@{/login}"><i class="fas fa-user"></i></a>
                        </div>
                        <div class="nav_cartCont nav_cartCont">
                            <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

         <!-- Main Body Section-->
        <main id="app" class="main js-main">
            <br>
            <br>
            <div class="fullSlider">
                <div class="qSlider_fullHeight">
                    <div class="qSlider">
                        <div class="qSlider_slides">
                            <div class="gutter qSlider_wrap qSlider_wrap--center whiteText">
                                <div class="videoWrapper">
                                    <video autoplay loop muted>
                                        <source src="\miscVideos\1154850-hd_1920_1080_24fps.mp4" type="video/mp4">
                                    </video>
                                    <!-- Overlay Content -->
                                    <div class="qSlider_overlay">
                                        <p class="qSlider_topLine">October Sales</p>
                                        <div class="qSlider_h2">
                                            <h2>50% off</h2>
                                        </div>
                                        <div class="qSlider_desc">
                                            <p><strong>Take advantage of sales throughout the month of October</strong></p>
                                            <p>50% of Women's accessories with a $100 or more purchase</p>
                                        </div>
                                        <div class="buttons qSlider_cta">
                                            <div class="saleBtn saleBtn--tall saleBtn--white">
                                                <a tabindex="0" th:href="@{/women}">
                                                    <p>Shop Now</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-wrapper">
                <ul class="list">
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                    <li class="item">
                        <div class="content">
                            <img src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy"/>
                        </div>
                    </li>
                </ul>
                <button onclick="handleClick('previous')" class="button button--previous" type="button">➜</button>
                <button onclick="handleClick('next')" class="button button--next" type="button">➜</button>
            </div>
            <script>
                const list = document.querySelector(".list");
                const item = document.querySelector(".item");
                const itemWidth = item.offsetWidth

                function handleClick(direction){
                    if(direction == "previous"){
                        list.scrollBy({ left: -itemWidth, behavior: "smooth"});
                    } else{
                        list.scrollBy({ left: itemWidth, behavior: "smooth"});
                    }
                }
            </script>


            <div class="grid-module_column grid-module_main grid guide-module_content">
                <div class="highlights-module_root">
                    <section id="highlights" class="scrollable-section-modue_root">
                        ::before
                        <h2 class="highlights-module-title">Featured Items</h2>
                        <div class="carousel-modules_root">
                            <ol class="carousel-modules_list highlights-module_list" data-testid="highlights-list">
                                <li>
                                    <article class="highlights-module_card">
                                        <div class="highlights-module_card__titleContainer_g8AuOvgsWgmPknnNC3tMTg==">
                                            <figure class="highlights-module_card__imageContainer_VohpW1vlpJLzHJok6TNxnw==">
                                                <img class="highlights-module_card__image_hwE90F2GtAICINrRy9vFFA==" src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy">
                                                <small class="highlights-module_card__attribution_-wbD+tvNT-Z9EziMbCtacA=="> 
                                                    "Photo by"
                                                    <a href="https://www.shutterstock.com/g/Darren%20Tierney">Darren Tierney</a> 
                                                    "on"
                                                    <a href="https://www.shutterstock.com">Shutterstock.com</a>
                                                </small>
                                            </figure>
                                            <h3 class="highlights-module_card__title_Ch22SwHIDdBH7eFDoaOxkw==">Sensational shiraz</h3>
                                            ::after
                                        </div>
                                        <p class="highlights-module_card__text_IhYp7wT7TFhKIItPEpEEjw==">This small but mighty valley produces over a fifth of Australia's wine, with shiraz the star of the show.</p>
                                    </article>
                                </li>
                                <li>
                                    <article class="highlights-module_card">
                                        <div class="highlights-module_card__titleContainer_g8AuOvgsWgmPknnNC3tMTg==">
                                            <figure class="highlights-module_card__imageContainer_VohpW1vlpJLzHJok6TNxnw==">
                                                <img class="highlights-module_card__image_hwE90F2GtAICINrRy9vFFA==" src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy">
                                                <small class="highlights-module_card__attribution_-wbD+tvNT-Z9EziMbCtacA=="> 
                                                    "Photo by"
                                                    <a href="https://www.shutterstock.com/g/Darren%20Tierney">Darren Tierney</a> 
                                                    "on"
                                                    <a href="https://www.shutterstock.com">Shutterstock.com</a>
                                                </small>
                                            </figure>
                                            <h3 class="highlights-module_card__title_Ch22SwHIDdBH7eFDoaOxkw==">Sensational shiraz</h3>
                                            ::after
                                        </div>
                                        <p class="highlights-module_card__text_IhYp7wT7TFhKIItPEpEEjw==">This small but mighty valley produces over a fifth of Australia's wine, with shiraz the star of the show.</p>
                                    </article>
                                </li>
                                <li>
                                    <article class="highlights-module_card">
                                        <div class="highlights-module_card__titleContainer_g8AuOvgsWgmPknnNC3tMTg==">
                                            <figure class="highlights-module_card__imageContainer_VohpW1vlpJLzHJok6TNxnw==">
                                                <img class="highlights-module_card__image_hwE90F2GtAICINrRy9vFFA==" src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy">
                                                <small class="highlights-module_card__attribution_-wbD+tvNT-Z9EziMbCtacA=="> 
                                                    "Photo by"
                                                    <a href="https://www.shutterstock.com/g/Darren%20Tierney">Darren Tierney</a> 
                                                    "on"
                                                    <a href="https://www.shutterstock.com">Shutterstock.com</a>
                                                </small>
                                            </figure>
                                            <h3 class="highlights-module_card__title_Ch22SwHIDdBH7eFDoaOxkw==">Sensational shiraz</h3>
                                        </div>
                                        <p class="highlights-module_card__text_IhYp7wT7TFhKIItPEpEEjw==">This small but mighty valley produces over a fifth of Australia's wine, with shiraz the star of the show.</p>
                                    </article>
                                </li>
                                <li>
                                    <article class="highlights-module_card">
                                        <div class="highlights-module_card__titleContainer_g8AuOvgsWgmPknnNC3tMTg==">
                                            <figure class="highlights-module_card__imageContainer_VohpW1vlpJLzHJok6TNxnw==">
                                                <img class="highlights-module_card__image_hwE90F2GtAICINrRy9vFFA==" src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy">
                                                <small class="highlights-module_card__attribution_-wbD+tvNT-Z9EziMbCtacA=="> 
                                                    "Photo by"
                                                    <a href="https://www.shutterstock.com/g/Darren%20Tierney">Darren Tierney</a> 
                                                    "on"
                                                    <a href="https://www.shutterstock.com">Shutterstock.com</a>
                                                </small>
                                            </figure>
                                            <h3 class="highlights-module_card__title_Ch22SwHIDdBH7eFDoaOxkw==">Sensational shiraz</h3>
                                        </div>
                                        <p class="highlights-module_card__text_IhYp7wT7TFhKIItPEpEEjw==">This small but mighty valley produces over a fifth of Australia's wine, with shiraz the star of the show.</p>
                                    </article>
                                </li>
                                <li>
                                    <article class="highlights-module_card">
                                        <div class="highlights-module_card__titleContainer_g8AuOvgsWgmPknnNC3tMTg==">
                                            <figure class="highlights-module_card__imageContainer_VohpW1vlpJLzHJok6TNxnw==">
                                                <img class="highlights-module_card__image_hwE90F2GtAICINrRy9vFFA==" src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy">
                                                <small class="highlights-module_card__attribution_-wbD+tvNT-Z9EziMbCtacA=="> 
                                                    "Photo by"
                                                    <a href="https://www.shutterstock.com/g/Darren%20Tierney">Darren Tierney</a> 
                                                    "on"
                                                    <a href="https://www.shutterstock.com">Shutterstock.com</a>
                                                </small>
                                            </figure>
                                            <h3 class="highlights-module_card__title_Ch22SwHIDdBH7eFDoaOxkw==">Sensational shiraz</h3>
                                        </div>
                                        <p class="highlights-module_card__text_IhYp7wT7TFhKIItPEpEEjw==">This small but mighty valley produces over a fifth of Australia's wine, with shiraz the star of the show.</p>
                                    </article>
                                </li>
                                <li>
                                    <article class="highlights-module_card">
                                        <div class="highlights-module_card__titleContainer_g8AuOvgsWgmPknnNC3tMTg==">
                                            <figure class="highlights-module_card__imageContainer_VohpW1vlpJLzHJok6TNxnw==">
                                                <img class="highlights-module_card__image_hwE90F2GtAICINrRy9vFFA==" src="https://polarsteps.s3.amazonaws.com/584291743_767_1000.jpg" fetchpriority="low" loading="lazy">
                                                <small class="highlights-module_card__attribution_-wbD+tvNT-Z9EziMbCtacA=="> 
                                                    "Photo by"
                                                    <a href="https://www.shutterstock.com/g/Darren%20Tierney">Darren Tierney</a> 
                                                    "on"
                                                    <a href="https://www.shutterstock.com">Shutterstock.com</a>
                                                </small>
                                            </figure>
                                            <h3 class="highlights-module_card__title_Ch22SwHIDdBH7eFDoaOxkw==">Sensational shiraz</h3>
                                        </div>
                                        <p class="highlights-module_card__text_IhYp7wT7TFhKIItPEpEEjw==">This small but mighty valley produces over a fifth of Australia's wine, with shiraz the star of the show.</p>
                                    </article>
                                </li>
                            </ol>
                            <div class="carousel-modules_shadow_p0IenXGXwwPip0KUo0itNw== carousel-modules_right_M3qO+ux0HDIzeVEhtPMnyA== carousel-modules_dark_dMze4fdgbOKmM6Wcju6tZA== highlights-module_shadow_X3iLWEnhhkkMdTOvx8TO1Q==" style="opacity: 1;"></div>
                            <button type="button" class="carousel-modules_button_yvloqwhOlvbMCBhPBEW2sQ== carousel-modules_right_M3qO+ux0HDIzeVEhtPMnyA== carousel-modules_dark_dMze4fdgbOKmM6Wcju6tZA== highlights-module_button_+yLMcto+uyAPLXONulD-Jg==" aria-label="Next" style="opacity: 1;">
                                <div class="carousel-modules_button__iconContainer_9x8Tz-SZg9qWD1jJEYtXKQ==">
                                    <svg class="icon icon-size-m carousel-modules_button__icon_tOF0w1zCKQHOldJ8NqjF7Q== carousel-modules_right_M3qO+ux0HDIzeVEhtPMnyA==" xmlns:xlink="http://www.w3.org/1999/xlink" data-testid="arrow-down-thin-icon" iconname="arrow-down-thin">
                                        <use class="icon-color-unknown line-icon" xlink:href="#icon-arrow-down-thin" x="0" y="0"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </section>
                </div>
            </div>

        </main>

        <!-- Footer Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <footer>
        <section>
            <hr>
            <h1>Softwear</h1>
            <p> 1 UTSA Circle San Antonio, TX 78249</p>
            <h2>About Us</h2>
            <p>
                This is our totally real, totally not some nonsense text
                of our totally real Reselling Website. I'm not quite sure if this will stay
                but if it does we can put something here. Something better than this.
                Seriously, what was the point?
            </p>
            <button role="button">Careers</button>
            <button role="button">Our partners</button>
            <br>
            <h3>Help and Support</h3>
            <button type ="button" onclick="window.location.href='mailto:example@example.com'">Contact Us!</button>
            <button role="button">FAQ's</button>
            <button role="button">Shipping and Delivery</button>
            <p>&copy; 2024 Softwear. All rights reserved.</p>
        </section>
        </footer>
    </body>
</html>