<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> Softwear - Home </title>
        <link rel="stylesheet" href="/css/FrontPageStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!--light-slider.css------------->
        <link rel="stylesheet" type="text/css" href="css/lightslider.css">
        <!--Jquery-------------------->
        <script type="text/javascript" src="js/Jquery.js"></script>
        <!--lightslider.js--------------->
        <script type="text/javascript" src="js/lightslider.js"></script>
    </head>
    <body>
        <!-- Header Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <header id="header-nav" class="header js-header">
            <div class="header_wrap gutter">
                <div class="nav-container">
                    <a class="header_home" th:href="@{/}"><img src="/shopImages/logo2.png"></a>
                    <nav class="nav_menu">
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">
                                    <a th:href="@{/}">Home</a>
                                </p>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Shop</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <button onclick="navigate('all','all')">All</button>
                                <button onclick="navigate('all','shirts')">Shirts</button>
                                <button onclick="navigate('all','pants')">Pants</button>
                                <button onclick="navigate('all','shoes')">Shoes</button>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Women</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <button onclick="navigate('womens','all')">All</button>
                                <button onclick="navigate('womens','shirts')">Shirts</button>
                                <button onclick="navigate('womens','pants')">Pants</button>
                                <button onclick="navigate('womens','shoes')">Shoes</button>
                            </div>
                        </div>
                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Men</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <!--EXAMPLE OF HOW TO CALL THE CATALOG, NEEDS STYLING-->
                                <button onclick="navigate('mens','all')">All</button>
                                <button onclick="navigate('mens','shirts')">Shirts</button>
                                <button onclick="navigate('mens','pants')">Pants</button>
                                <button onclick="navigate('mens','shoes')">Shoes</button>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">Help</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                            <div class="nav_dropdown">
                                <a th:href="@{/faq}">FAQ</a>
                                <a th:href="@{/contact}">Contact Us</a>
                            </div>
                        </div>

                        <div tabindex="0" class="nav_lvl1">
                            <div class="nav_titleCont">
                                <p class="nav_title">About Us</p>
                                <svg class="nav_carrot" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                        </div>
                    </nav>
                    <div class-="header_right">
                        <div class="nav_searchCont nav_searchCont--close">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="nav_accountCont nav_accountCont">
                            <a th:href="@{/login}"><i class="fas fa-user"></i></a>
                        </div>
                        <div class="nav_cartCont nav_cartCont">
                            <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

         <!-- Main Body Section-->
        <main id="app" class="main js-main">
            <br>
            <br>
            <div class="fullSlider">
                <div class="qSlider_fullHeight">
                    <div class="qSlider">
                        <div class="qSlider_slides">
                            <div class="gutter qSlider_wrap qSlider_wrap--center whiteText">
                                <div class="videoWrapper">
                                    <video autoplay loop muted>
                                        <source src="\miscVideos\1154850-hd_1920_1080_24fps.mp4" type="video/mp4">
                                    </video>
                                    <!-- Overlay Content -->
                                    <div class="qSlider_overlay">
                                        <p class="qSlider_topLine">October Sales</p>
                                        <div class="qSlider_h2">
                                            <h2>50% off</h2>
                                        </div>
                                        <div class="qSlider_desc">
                                            <p><strong>Take advantage of sales throughout the month of October</strong></p>
                                            <p>50% of Women's accessories with a $100 or more purchase</p>
                                        </div>
                                        <div class="buttons qSlider_cta">
                                            <div class="saleBtn saleBtn--tall saleBtn--white">
                                                <a tabindex="0" th:href="@{/women}">
                                                    <p>Shop Now</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- This is where the slider should go -->
                                <section class="slider">
                                    <ul id="autoWidth" class="cs-hidden">
                                    <!--1------------------------------------>	
                                        <li class="item-a">
                                            <!--box-slider--------------->
                                            <div class="box">
                                                <!--img-box---------->
                                                <div class="slide-img">
                                                    <img alt="1" src="\shopImages\womens\Cardigan with Collar.png">
                                                    <!--overlayer---------->
                                                    <div class="overlay">
                                                    <!--buy-btn------>	
                                                    <a href="#" class="buy-btn">Buy Now</a>	
                                                    </div>
                                                </div>
                                                <!--detail-box--------->
                                                <div class="detail-box">
                                                    <!--type-------->
                                                    <div class="type">
                                                        <a href="#">Collared Cardigan</a>
                                                            <span>New Arrival</span>
                                                    </div>
                                                    <!--price-------->
                                                    <a href="#" class="price">$45</a>
                                                </div>
                                            </div>		
                                        </li>
                                        <!--2------------------------------------>	
                                        <li class="item-a">
                                            <!--box-slider--------------->
                                            <div class="box">
                                                <!--img-box---------->
                                                <div class="slide-img">
                                                    <img alt="1" src="\shopImages\mens\Follow The Leader T-Shirt.png">
                                                    <!--overlayer---------->
                                                    <div class="overlay">
                                                    <!--buy-btn------>	
                                                    <a href="#" class="buy-btn">Buy Now</a>	
                                                    </div>
                                                </div>
                                                <!--detail-box--------->
                                                <div class="detail-box">
                                                    <!--type-------->
                                                    <div class="type">
                                                        <a href="#">Follow The Leader T-Shirt</a>
                                                            <span>New Arrival</span>
                                                    </div>
                                                    <!--price-------->
                                                    <a href="#" class="price">$23</a>
                                                </div>
                                            </div>		
                                        </li>
                                        <!--3------------------------------------>	
                                        <li class="item-a">
                                            <!--box-slider--------------->
                                            <div class="box">
                                                <!--img-box---------->
                                                <div class="slide-img">
                                                    <img alt="1" src="\shopImages\mens\Slim Fit Cargo Joggers.png">
                                                    <!--overlayer---------->
                                                    <div class="overlay">
                                                    <!--buy-btn------>	
                                                    <a href="#" class="buy-btn">Buy Now</a>	
                                                    </div>
                                                </div>
                                                <!--detail-box--------->
                                                <div class="detail-box">
                                                    <!--type-------->
                                                    <div class="type">
                                                        <a href="#">Slim Fit Cargo Joggers</a>
                                                            <span>New Arrival</span>
                                                    </div>
                                                    <!--price-------->
                                                    <a href="#" class="price">$37</a>
                                                </div>
                                            </div>		
                                        </li>
                                        <!--4------------------------------------>	
                                        <li class="item-a">
                                            <!--box-slider--------------->
                                            <div class="box">
                                                <!--img-box---------->
                                                <div class="slide-img">
                                                    <img alt="1" src="\shopImages\womens\Pleat-Front Twill Pants.png">
                                                    <!--overlayer---------->
                                                    <div class="overlay">
                                                    <!--buy-btn------>	
                                                    <a href="#" class="buy-btn">Buy Now</a>	
                                                    </div>
                                                </div>
                                                <!--detail-box--------->
                                                <div class="detail-box">
                                                    <!--type-------->
                                                    <div class="type">
                                                        <a href="#">Pleat-Front Twill Pants</a>
                                                            <span>New Arrival</span>
                                                    </div>
                                                    <!--price-------->
                                                    <a href="#" class="price">$23</a>
                                                </div>
                                            </div>		
                                        </li>
                                        <!--5------------------------------------>	
                                        <li class="item-a">
                                            <!--box-slider--------------->
                                            <div class="box">
                                                <!--img-box---------->
                                                <div class="slide-img">
                                                    <img alt="1" src="\shopImages\unisex\Jarritos x Nike Dunk SB.png">
                                                    <!--overlayer---------->
                                                    <div class="overlay">
                                                    <!--buy-btn------>	
                                                    <a href="#" class="buy-btn">Buy Now</a>	
                                                    </div>
                                                </div>
                                                <!--detail-box--------->
                                                <div class="detail-box">
                                                    <!--type-------->
                                                    <div class="type">
                                                        <a href="#">Rabbed Cardigan</a>
                                                            <span>New Arrival</span>
                                                    </div>
                                                    <!--price-------->
                                                    <a href="#" class="price">$23</a>
                                                </div>
                                            </div>	
                                        </li>
                                        <!--6------------------------------------>	
                                        <li class="item-a">
                                            <!--box-slider--------------->
                                            <div class="box">
                                                <!--img-box---------->
                                                <div class="slide-img">
                                                    <img alt="1" src="\shopImages\womens\Satin Shirt.png">
                                                    <!--overlayer---------->
                                                    <div class="overlay">
                                                    <!--buy-btn------>	
                                                    <a href="#" class="buy-btn">Buy Now</a>	
                                                    </div>
                                                </div>
                                                <!--detail-box--------->
                                                <div class="detail-box">
                                                    <!--type-------->
                                                    <div class="type">
                                                        <a href="#">Rabbed Cardigan</a>
                                                            <span>New Arrival</span>
                                                    </div>
                                                    <!--price-------->
                                                    <a href="#" class="price">$23</a>
                                                </div>
                                            </div>		
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Footer Section // THIS SHOULD BE ON EVERY SINGLE PAGE-->
        <footer>
        <section>
            <hr>
            <h1>Softwear</h1>
            <p> 1 UTSA Circle San Antonio, TX 78249</p>
            <h2>About Us</h2>
            <p>
                This is our totally real, totally not some nonsense text
                of our totally real Reselling Website. I'm not quite sure if this will stay
                but if it does we can put something here. Something better than this.
                Seriously, what was the point?
            </p>
            <button role="button">Careers</button>
            <button role="button">Our partners</button>
            <br>
            <h3>Help and Support</h3>
            <button type ="button" onclick="window.location.href='mailto:example@example.com'">Contact Us!</button>
            <button role="button">FAQ's</button>
            <button role="button">Shipping and Delivery</button>
            <p>&copy; 2024 Softwear. All rights reserved.</p>
        </section>
        </footer>
    </body>
    <script src="/js/search.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
</html>