<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body>
    
    <!-- Login Form Code -->
     <div class="main">
        <h1>Softwear</h1>
        <h3>Enter your login information</h3>
     </div>
     <form th:action="@{/login}" method="post"><form action="">
        <label for="first">Username:</label>
        <input type="text" id="first" name="first"
            placeholder="Enter your Username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
            placeholder="Enter your password" required>
        
        <button type="submit"> Submit </button>

        <label for="checkbox">Remember Me</label>
        <input type="checkbox" id="checkbox" name="checkbox"
            placeholder="Remember Me">
     </form>
     

</body>

</html>