<!DOCTYPE html>
<html>
    <head>
        <title> Softwear Shopping Cart Page</title>
    </head>
    <body>
        <header>
            <!-- TOP OF PAGE // LINKS TO OTHER PAGES-->
            <nav>   
                <ul>
                    <li><a href="FrontWebPage.html">HOME</a></li>
                    <li><a href="Catalog.html">CATALOG</a></li>
                    <li><a href="shoppingCart.html">SHOPPING Cart</a></li>
                </ul>
            </nav>
            <hr>
            <h1>Softwear</h1>
        </header>
        <section>
            <h2>SHOPPING CART</h2>
            <div>
                <strong>ITEM</strong>
                &lt;&gt;
                <strong>PRICE</strong>
            </div>
            <div>
                <img src ="shopImages/AirMagBTTF.png" width="300" height="300">
                <span>AIR MAG BACK TO THE FUTURE</span>
                &lt;&gt;
                <span>$26,250</span>
                &lt;&gt;
                <button role="button">REMOVE ITEM</button>
            </div>
            <hr>
            <div>
                <strong>TOTAL</strong>
                <span>26,250</span>
            </div>
            <div>
                <button role="button">PURCHASE</button>
            </div>
        </section>